<form #signUpForm="ngForm" enctype="multipart/form-data" (ngSubmit) = "signUpForm.valid && onSubmit(signUpForm)">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" #name='ngModel' [(ngModel)]="userService.selectedUser.name" name="name" required/>
    <div class="invalid-feedback">
      Invalid
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" [pattern] = 'emailRegx' class="form-control" id="email" aria-describedby="emailHelp" #email='ngModel' [(ngModel)]="userService.selectedUser.email" name="email" required/>
    <div class="invalid-feedback">
      Invalid
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" class="form-control" id="password"  #password='ngModel' [(ngModel)]="userService.selectedUser.password" name="password" required/>
    <div class="invalid-feedback">
      Invalid
    </div>
  </div>
  <div class="form-group">
    <label for="avtar">Avtar</label>
    <input type="file" class="form-control" class="form-control" id="avtar"  #avtar='ngModel' [(ngModel)]="userService.selectedUser.avtar" (change)="onFileSelected($event.target.files)" name="avtar" required/>
    <div class="invalid-feedback">
      Invalid
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
